@model IEnumerable<OrderProduct>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Të gjitha porosië e klienteve</h2>

<table class="table">
    <thead>
        <tr>
            <th>Porositur nga</th>
            <th>Product</th>
            <th>Data e porosisë</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model)
        {
            
        
            <tr>
               
                
                <td>@item.User?.UserName</td>
                <td>@item.Produkt?.Name</td>
                <td>@item.OrderDate.ToShortDateString()</td>
                <td>
                    <img src="~/Produktet/@item.Produkt.ImageFileName" width="100" />
                </td>
                
            </tr>
        
        }
    </tbody>
</table>
