@model ProduktDto
@{
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Përditëso produktin</h2>

        <form  asp-action="Edit" method="post" enctype="multipart/form-data">

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Id</label>
                <input type="hidden" asp-for="Id" />

            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" placeholder="Emri produktit" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">RAM</label>
                <div class="col-sm-8">
                    <input class="form-control" placeholder="RAM" asp-for="Ram" />
                    <span asp-validation-for="Ram" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Çmimi</label>
                <div class="col-sm-8">
                    <input class="form-control" placeholder="Price" asp-for="Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Brendi</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Brand">
                        <option value="DELL">DELL</option>
                        <option value="APPLE">APPLE</option>
                        <option value="LENOVO">LENOVO</option>
                        <option value="HP">HP</option>
                        <option value="ASUS">ASUS</option>
                    </select>
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-8">

                    <img src="~/Produktet/@ViewData["ImageFileName"] " width="150" />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Foto</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" asp-for="ImageFile" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Storage</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Storage" />
                    <span asp-validation-for="Storage" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">StorageType</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Storagetype" />
                    <span asp-validation-for="Storagetype" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Procesori</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Procesor" />
                    <span asp-validation-for="Procesor" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Manufactured Date</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" asp-for="Date" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">ScreenInch</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ScreenInch" />
                    <span asp-validation-for="ScreenInch" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Category</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Category">
                        <option value="Laptop">Laptop</option>
                        <option value="Desktop">Desktop</option>
                        <option value="Kompjuter">Kompjuter</option>
                    </select>
                </div>
            </div>


            <div class="row">
               
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary" >SUBMIT</button>

                </div>

                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Produkt" asp-action="Index" role="button">CANCEL</a>
                </div>
                
            </div>
        </form>
       
     
    </div>
</div>

