@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Delete User</th>
            <th>PhoneNumber</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <th>
                    <a role="button" asp-action="Produkt" asp-action="DeleteUser" asp-route-id="@user.Id">Delete</a>

                </th>
                <td>@user.PhoneNumber</td>
              

            </tr>
        }
    </tbody>
</table>